.orders-container {
  background-color: var(--bg);
  min-height: 100vh;
}

.single-orders {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.order-filter {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  padding: 1vh 0 1vh 6vw;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.order-filter p {
  font-weight: 600;
  color: var(--font);
  padding-bottom: 0.1vh;
  border-bottom: solid 1px var(--main);
}

/* ! Desktop */
@media (min-width: 768px) {
  .orders-container {
    padding-top: 12vh;
  }
}
