.singleoffer-container h1 {
  padding-left: 4vw;
}

.singleoffer-container {
  width: 100vw;
}

/* * We're mobile first */

/* ! Desktop */

@media only screen and (min-width: 768px) {
  .singleoffer-container {
    display: flex;
    justify-content: center;
  }
}
