/* * We're mobile first */

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ! Desktop */
@media only screen and (min-width: 768px) {
  .searchfilter-container {
    margin-top: 3vh;
  }
}
